@import "tailwindcss";


::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #6b2193;
  border-radius: 10px;
  
}

::-webkit-scrollbar-track {
    background: #9b52c3;
    border-radius: 10px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}


button {
  /* border-radius: 8px; */
  /* border: 1px solid transparent; */
  /* padding: 0.6em 1.2em; */
  margin: 10px auto;
  /* font-size: 1em; */
  /* font-weight: 500; */
  font-family: inherit;
  cursor: pointer;
  /* transition: border-color 0.25s; */
  padding: 8px 30px;
  background-color: purple;
  color: white;
  font-size: 15px;
  border-radius: 25px;
  font-weight: bold;
}
button:hover {
  /* border-color: #646cff; */
  background-color: rgb(71, 2, 71);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.tiptap-editor {
  font-family: 'KrutiDev', sans-serif;
  padding: 20px;
  color: #1f1f1f;
  max-height: 300px;
  min-height: 300px;
  background: oklch(0.627 0.265 303.9);
  font-size: 25px;
  line-height: 1;
  text-align: justify;
  overflow-y: auto;
  white-space-collapse: preserve;  
}

.tiptap-editor:focus, .ProseMirror:focus  {
  user-select: none;
  outline: none;
  padding: auto;
  white-space-collapse: preserve;  
}

/* .ProseMirror table {
  width: 100%;
  border-color: #1f1f1f;
  padding: 0;  
} */


.ProseMirror table,
.ProseMirror th, 
.ProseMirror tr,
.ProseMirror col, 
.ProseMirror td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0%;
  max-height: 20px;
  min-height: 10px;
  white-space-collapse: collapse;
}

@font-face {
  font-family: 'KrutiDev';
  src: url('./assets/KRDEV016.TTF') format('truetype');
}

.div-editor {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 300px;
  max-height: 300px;
  overflow-y: auto ;
  padding: 18px;
  background: oklch(0.627 0.265 303.9);
  font-size:17px;
  line-height: 1.6;
  text-align: justify;
  color: #1f1f1f;
  padding: 0%;
  text-wrap-mode: wrap;
  white-space-collapse: preserve;
}

/* .div-editor table {
  border-color: #1f1f1f;
  padding: 5px;
  white-space-collapse:collapse;
  text-wrap-mode: wrap;
} */



.div-editor table, 
.div-editor td, 
.div-editor th, 
.div-editor tr, 
.div-editor col {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px;
  text-wrap-mode: wrap;
  white-space-collapse:collapse;

}
